extends layout

block content    
    if (!user)
     .ui.raised.very.padded.text.container.segment
       <img class="ui medium image" src="/images/agpLogo.png">
       .ui.warning.message
         i.close.icon
         .header
            | You must register before you can do that!
          |   Visit our registration page, then try again      
        .ui.steps
          a.step(href="/login")
            i.sign.in.icon
            .content
              .title Sign in
              .description Sign Into your Account.
          a.step(href="/register")
            i.add.user.icon
            .content
              .title Sign Up
              .description Sign up for an Account.
    if (user)
      .right.floated.left.aligned.six.wide.column
        .ui.segment
          .ui.left.aligned.header <img class="ui small image" src="/images/agpLogo.png"> 
      .ui.top.attached.tabular.menu
        a.item(href="/") Home
        a.item(href="/shifts") Add Shifts
        a.active.item(href="/all") Show All Shifts
        a.item(href="/remove") Remove Shifts
        a.item(href="/logout") Logout
        .item 
      .ui.bottom.attached.active.tab.segment 
        | You are currently logged in as  <strong>#{user.username}</strong>
        .alltable   
          <table class="ui celled table", style="max-width: 80%;">
          <thead>
          <tr>
          <th>Shift Id</th>
          <th>Date</th>
          <th>Time In</th>
          <th>Time Out</th>
          <th>Location</th>
          <th>Hours</th>
          <th>Hourly rate</th>
          <th> Pay </th>
          </tr>
          </thead>
          <tbody>
          <tr>
          - each users in user.shifts
              td#userID= users._id
              td= users.start_date
              td= users.start_time
              td= users.end_time
              td= users.location
              td= users.hours
              td= users.hourly_rate
              td= users.amount
              </tr>
              </tbody>
          </table>
          a(href='/')
              button.btn.btn-primary(type="button", style="margin-left: 75% ;") Back
          