extends layout
block scripts
    script.
        function hide(){
            $(".clickable").click(function() {
                $(this).closest("tr").next().slideToggle();
            });
        };
        $(document).ready( function(){
            hide();
        });
       
block content    
    if (!users)
     .ui.raised.very.padded.text.container.segment
       <img class="ui medium image" src="/images/agpLogo.png">
       .ui.warning.message
         i.close.icon
         .header
            | You must register before you can do that!
          |   Visit our registration page, then try again      
        .ui.steps
          a.step(href="/login")
            i.sign.in.icon
            .content
              .title Sign in
              .description Sign Into your Account.
          a.step(href="/register")
            i.add.user.icon
            .content
              .title Sign Up
              .description Sign up for an Account.
    if (users)
      .right.floated.left.aligned.six.wide.column
        .ui.segment
          .ui.left.aligned.header
            a(href='http://www.pathfinder1.com.au')
              img.ui.small.image(src='/images/agpLogo.png')
        .ui.top.attached.tabular.menu
          a.item(href="/") Home
          a.active.item(href="/showallusers") Show All Users
          a.item(href="/showinvoices") Show Invoices
          a.item(href="/removeusers") Remove Users
          a.item(href="/remove") Remove Shifts
          a.item(href="/selectiveshifts") Show Shifts With Site Name
          a.item(href="/sendText") Send Reminders
          a.item(href="/logout") Logout
          .item 
        .ui.bottom.attached.active.tab.segment
            p You are currently logged in as <strong>Admin</strong>
        - each user in users
                .ui.blue.segment
                    .ui.four.cards
                        a.ui.centered.card(href="")
                            .content
                                .header= user.firstname + " " +user.lastname
                                .meta
                                .description
                                    h4.category Abn: 
                                        p= user.abnnumber
                                    h4.category Security License
                                        p= user.securitylicense
                                    h4.category Email
                                        p= user.email
                                    h4.category Phone Number
                                        p= user.phonenumber
                                .extra.content
                                    .right.floated.author
                                        span.category Username
                                         p= user.username
        a(href='/')
            button.btn.btn-primary(type="button") Back