extends layout
block scripts
    script.
        function hide(){
            $(".clickable").click(function() {
                $(this).closest("tr").next().slideToggle();
            });
        };
        $(document).ready( function(){
            hide();
        });
      
block content    
    if (!users)
     .ui.raised.very.padded.text.container.segment
       <img class="ui medium image" src="/images/agpLogo.png">
       .ui.warning.message
         i.close.icon
         .header
            | You must register before you can do that!
          |   Visit our registration page, then try again      
        .ui.header Aus Group Protective
        .ui.steps
          a.step(href="/login")
            i.sign.in.icon
            .content
              .title Sign in
              .description Sign Into your Account.
          a.step(href="/register")
            i.add.user.icon
            .content
              .title Sign Up
              .description Sign up for an Account.
    if (users)
      .right.floated.left.aligned.six.wide.column
        .ui.segment
          .ui.left.aligned.header 
            a(href='http://www.pathfinder1.com.au')
              img.ui.small.image(src='/images/agpLogo.png')
        .ui.top.attached.tabular.menu
          a.item(href="/") Home
          a.item(href="/showallusers") Show All Users
          a.item(href="/showinvoices") Show All Invoices
          a.item(href="/removeusers") Remove Users
          a.item(href="/remove") Remove Shifts
          a.item(href="/selectiveshifts") Show Shifts With Site Name
          a.active.item(href="/sendText") Send Reminders
          a.item(href="/logout") Logout
          .item 
        .ui.bottom.attached.active.tab.segment
            p You are currently logged in as <strong>Admin</strong>
            table.ui.celled.table
                - each user in users
                    thead
                        tr
                            th First Name
                            th Last Name
                            th Abn Number
                            th Security License
                            th Phone Number
                            th Email
                    tr
                        td= user.firstname
                        td= user.lastname
                        td= user.abnnumber
                        td= user.securitylicense
                        td= user.phonenumber
                        td= user.email
            h4 Write the text message you want to send.
            form(role='form', action="/sendText", method="post", style='max-width: 400px;')
                .form-group
                    textarea.form-control(type='text', name="message", placeholder='Enter Message Here', required=' ' ,autofocus='',style='height:200px;')
                br
                a(href='/')
                    button.btn.btn-primary(type="button") Back
                &nbsp;
                a(href='/sendText')
                    button.btn.btn-primary(type="submit") Send Reminder to all Users            