extends layout
block scripts
    script.
        function check_box() {
            $('input:checkbox').change(function(){
                if ($(this).is(':checked')) {
                    console.log('checked');
                    console.log($("table").find("tbody td").eq(0).children().first());               
                }else{
                    console.log('unchecked');
                }
            });
        };
        $(document).ready( function(){
            check_box();
        });
 
block content 
    if (!users)
     .ui.raised.very.padded.text.container.segment
       <img class="ui medium image" src="/images/agpLogo.png">
       .ui.warning.message
         i.close.icon
         .header
            | You must register before you can do that!
          |   Visit our registration page, then try again      
        .ui.header Aus Group Protective
        .ui.steps
          a.step(href="/login")
            i.sign.in.icon
            .content
              .title Sign in
              .description Sign Into your Account.
          a.step(href="/register")
            i.add.user.icon
            .content
              .title Sign Up
              .description Sign up for an Account.
    if (users)  
      .right.floated.left.aligned.six.wide.column
        .ui.segment
          .ui.left.aligned.header <img class="ui small image" src="/images/agpLogo.png"> 
        .ui.top.attached.tabular.menu
          a.item(href="/") Home
          a.item(href="/showallusers") Show All Users
          a.active.item(href="/removeusers") Remove Users
          a.item(href="/showinvoices") Show Invoices
          a.item(href="/selectiveshifts") Show Shifts With Site Name
          a.item(href="/sendText") Send Reminders
          a.item(href="/logout") Logout
          .item 
        .ui.bottom.attached.active.tab.segment
            p You are currently logged in as <strong>Admin</strong>
            table
                tr(bgcolor='#751aff')
                    th
                        font(color="white") User ID
                    th
                        font(color="white") Username
                    th
                        font(color="white") First Name
                    th
                        font(color="white") Last Name
                    th
                        font(color="white") Abn Number
                    th
                        font(color="white") Security License
                    th
                        font(color="white") Phone Number
                    th
                        font(color="white") Email
                    th
                        font(color="white") CheckBox    
                tr
                - each user in users
                    tr
                    td= user._id
                    td= user.username
                    td= user.firstname
                    td= user.lastname
                    td= user.abnnumber
                    td= user.securitylicense
                    td= user.phonenumber
                    td= user.email
                    td
                        input(type='checkbox', name='removeusers')
                    tr.clickable


            form(role='form', action="/removeusers",method="post", style='max-width: 300px;')
                .form-group
                    input.form-control(type='text', name="user_id", placeholder='Enter User Id' autofocus='')
                button.btn.btn-default(type='submit') Remove Selected 
                &nbsp;
                a(href='/')
                    button.btn.btn-primary(type="button") Cancel
