extends layout
block scripts
    script.
        function formatDate(d){
          var date = new Date(d)
          var dd = date.getDate(); 
          var mm = date.getMonth()+1;
          var yyyy = date.getFullYear(); 
          if(dd<10){dd='0'+dd} 
          if(mm<10){mm='0'+mm};
          return d = dd+'/'+mm+'/'+yyyy
        }
        //Search Box
        
        function myFunction() {
          var input, filter, table, tr, td, i;
          input = document.getElementById("myInput");
          filter = input.value.toUpperCase();
          table = document.getElementById("table1");
          tr = table.getElementsByTagName("tr");
          for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
              if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }       
          }
        }
        $(document).ready( function(){
            $('.check').click(function(){
                $('#table1 input:checked').each(function() {
                  var sid, uid;
                  sid = $(this).closest('tr').find('.shift_id').html();
                  uid = $(this).closest('tr').find('.user_id').html();
            
                  $("#shift").val(sid);
                  $("#user").val(uid);
                });
                $('.check').not(this).prop('checked', false);
            });
            $('#table1 tr').each(function() {
                var start_date = $(this).find(".start").html();
                var end_date = $(this).find(".end").html();
                $(this).find(".start").html(formatDate(start_date));
                $(this).find(".end").html(formatDate(end_date));
             });
        });
        var date = new Date();
         $(document).on('click', '#download', function() {
          $("#table1").table2excel({
            // exclude CSS class
            exclude: ".noExl",
            name: "User Data By Name",
            filename: "Filtered Shift Data " + moment(date).format("DD-MM-YYYY HH:mm:ss"),
            fileext: ".xlsx",
          }); 
        });
block content 
    if (!users)
     .ui.raised.very.padded.text.container.segment
       <img class="ui medium image" src="/images/agpLogo.png">
       .ui.warning.message
         i.close.icon
         .header
            | You must register before you can do that!
          |   Visit our registration page, then try again      
        .ui.header Aus Group Protective
        .ui.steps
          a.step(href="/login")
            i.sign.in.icon
            .content
              .title Sign in
              .description Sign Into your Account.
          a.step(href="/register")
            i.add.user.icon
            .content
              .title Sign Up
              .description Sign up for an Account.
    if (users)  
      .right.floated.left.aligned.six.wide.column
        .ui.segment
          .ui.left.aligned.header <img class="ui small image" src="/images/agpLogo.png"> 
        | You are currently logged in as <strong>Admin</strong>
      .ui.top.attached.tabular.menu
          a.item(href="/") Home
          a.item(href="/showallusers") Show All Users
          a.item(href="/showinvoices") Show Invoices
          a.item(href="/removeusers") Remove Users
          a.active.item(href="/remove") Remove Shifts
          a.item(href="/selectiveshifts") Show Shifts With Site Name
          a.item(href="/sendText") Send Reminders
          a.item(href="/logout") Logout
        .item 
      .ui.bottom.attached.active.tab.segment
        p You are currently logged in as <strong>Admin</strong>
        input#myInput(type='text', onkeyup='myFunction()', placeholder='Search for names..', title='Type in a name')
        div(style='height:450px;overflow-x: scroll;')
            table#table1.ui.celled.table
                thead
                    tr
                        th Employee 
                        th Shift ID
                        th User ID
                        th Start Date
                        th End Date    
                        th Start Time
                        th End Time    
                        th Location
                        th Hours
                        th Pay Per Shift  
                    tr
                    - each user in users
                        - each shift in user.shifts
                            td= user.firstname+" "+user.lastname
                            td.shift_id= shift._id
                            td.user_id= user._id
                            td.start= shift.start_date
                            td.end= shift.end_date
                            td= shift.start_time
                            td= shift.end_time
                            td= shift.location
                            td= shift.hours
                            td= shift.amount
                            td 
                                input(type='checkbox', class="check")
                            tr.shift
        form(role='form', action="/remove",method="post", style='max-width: 300px;')
            .form-group
                h5 Enter Shift ID
                input.form-control(type='text', name="shift_id", id="shift" placeholder='Enter Shift Id' autofocus='')
            .form-group
                h5 Enter User ID
                input.form-control(type='text', name="user_id", id="user" placeholder='Enter User Id' autofocus='')
            button.btn.btn-default(type='submit') Remove Selected 
            &nbsp;
            a(href='/')
                button.btn.btn-primary(type="button") Cancel
            button#download.positive.ui.button
              i.download.icon
              |  Download
